{% extends "base.html" %}

{% block pagetitle %}Liste von Fähigkeiten{% endblock %}

{% block content %}
<table class="table table-striped table-bordered">
  <thead>
    <th>Fähigkeit</th>
    <th>Zugehörige PAR</th>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>
        <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
      </td>
      <td>
        {% for par in object.par_set.all %}
          <a href="{{ par.get_absolute_url }}" class="mr-4">
            {{ par.number|stringformat:"02d" }}
          </a>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  <tbody>
{% endblock content %}

<!-- vim:ts=2:sw=2:sts=2:syn=htmldjango
-->
